@font-face{
  font-family: "GillSans";
  src: url(./fonts/GLSNECB.TTF);
  font-stretch: condensed;
  font-weight: bold;
}
@font-face{
  font-family: "GillSans";
  src: url(./fonts/GILI____.TTF);
  font-style: italic;
}
@font-face{
  font-family: "GillSans";
  src: url(./fonts/GILC____.TTF);
  font-stretch: condensed;
}
@font-face{
  font-family: "GillSans";
  src: url(./fonts/GILBI___.TTF);
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: "GillSans";
  src: url(./fonts/GILB____.TTF);
  font-weight: bold;
}
@font-face{
  font-family: "GillSans";
  src: url(./fonts/GIL_____.TTF);
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
html{
  font-family: "GillSans";
}
/* for navigation bar */
@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  /* background: rgb(23 23 23)   !important; */
}
.ant-menu-horizontal{
  border-bottom:none
}
.logo {
  float: left;
  width: 150px;
  /* background: rgb(23 23 23); */
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-menu,.ant-menu-sub,.ant-menu-inline {
  background: rgb(23 23 23)  !important;
}

.ant-menu-item{
    background-color: rgb(23 23 23)  !important;
    color: #fff !important;
    text-transform: uppercase;
    
}

.ant-menu-item-selected{
    color: #FFB300 !important;
    

}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  border-bottom: 2px solid #FFB300;
}

.ant-menu-item-active{
    color: #FFB300 !important;
}

.ant-menu,.ant-menu-sub,.ant-menu-inline{
    color: white !important;
    background-color:  rgb(23 23 23)  !important;
}

.companylogo{
  max-height:100%; 
  max-width:100%;
  display: inline;
}

.ant-layout-header{
  background: rgb(23 23 23)  !important;
}
#Cover{
  background-image: url("./img/gallery.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  z-index: -2;
  background-size: cover;
  position: absolute;
  top:0;
  left: 0;
}

#Coverup{
  top: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(45deg,#444444,#312536);
  z-index: -1;
  opacity: 0.73;
  left: 0;
}
#title_container{
  margin-left:8vw;
}
#slogan_container{
  text-align: right;
  margin-right: 4vw;
  position: absolute;
  bottom: 4vw;
  right: 0;
}
#Cover h1{
  z-index: 2;
  color: #FAED26;
  margin-top: 6vw;
  /* margin: 0; */
  font-weight: bold;
  font-size: 5vw;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
  text-shadow:12px 12px 6px #000000ba;
  margin-bottom: 0;
}
#Cover h3, #input_container h3{
  color: white;
  font-size: 3.3vw;
  font-weight: unset;
  margin-top: 4vh;
  text-shadow:6px 6px 3px #000000ba;
}
#Cover h4{
  font-weight: unset;
  color: white;
  font-size: 1.7vw;
  line-height: 2.6vw;
}
#title_container_number{
  font-weight: bold;
  color: #FFB300;
}
#input_container{
  top:100vh;
  position: relative;
}
#slogan_container_secure, #input_container h3{
  color: #FF6F00;
  font-size: 3.5vw;
  font-weight: bold;
}
#Cover h2{
  color: white;
  /* margin-top: 6vw; */
  margin:0;
  margin-top: 1vh;
  font-weight: bold;
  font-size: 4vw;
  /* letter-spacing: 0.5vw; */
  text-shadow:12px 12px 6px #000000ba;
  margin-bottom: 0;
}
#slogan_container_first{
  margin: 0;
}
#logo{
  position: absolute;
  width: 20vw;
  height: 20vw;
  background: url(./img/ArGalaxy\ logo.png);
  background-size: 20vw;
  -moz-border-radius: 10vw;
  -webkit-border-radius: 10vw;
  border-radius: 10vw;
  right: 12vw;
  bottom: 40vh;
}
#input_container_bg{
  background: linear-gradient(to bottom, #383234 ,black);
  height: 100vh;
  position: absolute;
  left: 0;
  width: 100vw;
}
.ant-steps{
  width: 80vw;
  margin-left: 10vw;
}
#input_container h3{
  text-align: center;
  margin-bottom: 10vh;
}
/* steps css */
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: #FAED26;
  font-family:"GillSans";
  font-size: 1.5vw;
  text-shadow: 2px 2px 2px black;
}
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title  {
  color: white;
  font-family:"GillSans";
  font-size: 1.5vw;
  text-shadow: 2px 2px 2px black;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: #FFB300;
}
.ant-steps-item-process .ant-steps-item-icon {
  border-color: white;
}
.ant-steps-item-wait .ant-steps-item-icon {
  background: black;
  border-color: white;
  color: white;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: rgb(255 255 255);
}
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: rgb(0, 0, 0);
  border-color: #ffffff;
}.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #FFB300;
}.ant-steps-item-title::after {
  height: 3px;
}
.steps-content{
  width: 80vw;
  left: 10vw;
  position: relative;
  height: 50vh;
  margin-top: 5vh;
  background: #ffffffd1;
  border-radius: 40px;
}
.steps_container{
  width: 70vw;
  left:5vw;
  position: relative;
  top:5vh;
}